
<div class="place-self-center">
<div class="grid grid-cols-2 text-white gap-2 p-2">
    <div>
        <img src="../../../assets/img/weather/{{(weatherData | async)?.current_weather.weathercode}}.svg" alt="" srcset="">
    </div>
    <div class="text-8xl font-bold text-right">
        {{(weatherData | async)?.current_weather.temperature + '°'}}
    </div>
    <div class="grid grid-cols-2 h-10 pt-2">
    <div class=""><img src="../../../assets/img/weather/raindrop.svg" width="29px"></div>
    <div class="text-xl text-center" id="rain">
        
    </div>
  </div>
  <div class="grid grid-cols-2 h-10 pt-2 justify-items-center">
    <div class="text-center"><img src="../../../assets/img/weather/wind.svg" width="29px"></div>
    <div class="text-xl text-center" id="wind"> {{(weatherData | async)?.current_weather.windspeed + ' km/h'}}</div>
  </div>
  </div>
</div>