<div
  class="grid grid-cols-3 grid-rows-2 gap-2 pl-4 pr-4 h-screen w-screen bg-black text-white"
>
  <ng-container *ngFor="let component of userComponents">
    <div
      *ngIf="component.id == 'empty'"
      class="flex items-center justify-center {{ component.classes }}"
    ></div>
    <div *ngIf="component.id == 'weather'" class="{{ component.classes }}">
      <app-weather></app-weather>
    </div>
    <div *ngIf="component.id == 'clock'" class="{{ component.classes }}">
      <app-clock></app-clock>
    </div>
  </ng-container>

  <button (click)="login()"  *ngIf="this.signedOut" class="bg-red-800">Login</button>
</div>
